#message{
    border-spacing: 0.5em;
}

#console{
    font-family: monospace;
    /*background-color: #777777;*/
    /*color: #FFFFFF;*/
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 20px;
    /*margin: 20px;*/
    /*height: 300px;*/
}